@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');

body {
    background-color: #ccc;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bigcontainer {
    width: 1024px;
    height: 768px;
    display: flex;
    align-items: stretch;
    align-content: center;
}

.container1 {
    background-image: url("cat.jpg");
    background-size: cover;
    flex: 1;
}

.container2 {
    flex: 1.5;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.section.one,
.section.three {
    background-color: #eee;
    flex: 1.2;
}

.section.two {
    background-color: #fff;
    flex: 1;
}

